{% load staticfiles %}
<head>
  <title> {{ title }} </title>
</head>
<body>
  <link href="{% static 'pastebinapp/CodeMirror/lib/codemirror.css' %}" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{% static 'pastebinapp/CodeMirror/lib/codemirror.js' %}"></script>
  <script type="text/javascript" src="{% static 'pastebinapp/CodeMirror/mode/clike/clike.js' %}"></script>
  <h3>{{ title }}</h3>
  <div id="codedisplay"></div>
  <a href="{% url 'pastebinapp:edit_snip' snip_id %}">Edit</a>
  <a href="{% url 'pastebinapp:compile_snip' snip_id %}">Compile</a>
</body>
<script>
        // HTML Escape helper utility
    var util = (function () {
      // Thanks to Andrea Giammarchi
      var
        reEscape = /[&<>'"]/g,
        reUnescape = /&(?:amp|#38|lt|#60|gt|#62|apos|#39|quot|#34);/g,
        oEscape = {
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          "'": '&#39;',
          '"': '&quot;'
        },
        oUnescape = {
          '&amp;': '&',
          '&#38;': '&',
          '&lt;': '<',
          '&#60;': '<',
          '&gt;': '>',
          '&#62;': '>',
          '&apos;': "'",
          '&#39;': "'",
          '&quot;': '"',
          '&#34;': '"'
        },
        fnEscape = function (m) {
          return oEscape[m];
        },
        fnUnescape = function (m) {
          return oUnescape[m];
        },
        replace = String.prototype.replace
      ;
      return (Object.freeze || Object)({
        escape: function escape(s) {
          return replace.call(s, reEscape, fnEscape);
        },
        unescape: function unescape(s) {
          return replace.call(s, reUnescape, fnUnescape);
        }
      });
    }());
    
    // Tagged template function
    function html(input) {
        var prev = 0;
        var end = 0;
        var newstr = "";
        var remainder = input[0];
        while(end >= 0 )
        {
            var start = remainder.indexOf('"');
            newstr += remainder.slice(0, start + 1);
            remainder = remainder.slice(start + 1);
            end = remainder.indexOf('"');
            prev = end + 1;
            substr = remainder.slice(0, end + 1);
            remainder = remainder.slice(end + 1);
            substr = substr.replace(/\n/g, '\\n');
            newstr += substr;
        }
        newstr += remainder;
        return newstr;
    }
    var code = html`{{ code|safe }}`;
    var myCodeMirror = CodeMirror(document.getElementById("codedisplay"), {value: code, mode: "text/x-csrc"});
</script>
